[Unit]
Description=Haptic Pi Daemon
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python -u haptic.py
WorkingDirectory=/home/pi/haptic-pi
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
